<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>guest.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>VerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestServlet</servlet-name>
        <servlet-class>admin.controller.GuestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addServlet</servlet-name>
        <servlet-class>admin.controller.addServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listServlet</servlet-name>
        <servlet-class>controller.listServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListServlet</servlet-name>
        <servlet-class>controller.ListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListController</servlet-name>
        <servlet-class>admin.controller.ListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateServlet</servlet-name>
        <servlet-class>admin.controller.updateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteServlet</servlet-name>
        <servlet-class>admin.controller.deleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCustomer</servlet-name>
        <servlet-class>customer.controller.addCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCustomerServlet</servlet-name>
        <servlet-class>customer.controller.ListCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDAO</servlet-name>
        <servlet-class>dal.AdminDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>customer.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDemo</servlet-name>
        <servlet-class>customer.controller.LoginDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCustomer</servlet-name>
        <servlet-class>customer.controller.LoginCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductServlet</servlet-name>
        <servlet-class>admin.controller.ListProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>admin.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>customer.controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogle</servlet-name>
        <servlet-class>customer.controller.LoginGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmail</servlet-name>
        <servlet-class>customer.controller.VerifyEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupEmail</servlet-name>
        <servlet-class>customer.controller.SignupEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>customer.controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>customer.controller.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtp</servlet-name>
        <servlet-class>customer.controller.ValidateOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPassword</servlet-name>
        <servlet-class>customer.controller.NewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtpNewAccount</servlet-name>
        <servlet-class>guest.controller.ValidateOtpNewAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCustomer</servlet-name>
        <servlet-class>guest.controller.NewCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>customer.controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtoCartServlet</servlet-name>
        <servlet-class>customer.controller.AddtoCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItem</servlet-name>
        <servlet-class>customer.controller.RemoveItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>customer.controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>customer.controller.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyServlet</servlet-name>
        <servlet-class>customer.controller.BuyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewStore</servlet-name>
        <servlet-class>admin.controller.addNewStore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteStore</servlet-name>
        <servlet-class>admin.controller.deleteStore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStoreInformation</servlet-name>
        <servlet-class>admin.controller.UpdateStoreInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStoreServlet</servlet-name>
        <servlet-class>admin.controller.ListStoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Map</servlet-name>
        <servlet-class>customer.controller.Map</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalculateDist</servlet-name>
        <servlet-class>Store.CalculateDist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPayServlet</servlet-name>
        <servlet-class>customer.controller.VNPayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>customer.controller.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>customer.controller.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>customer.controller.vnpayRefund</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxServlet</servlet-name>
        <servlet-class>vn_pay.AjaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/VerifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestServlet</servlet-name>
        <url-pattern>/GuestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addServlet</servlet-name>
        <url-pattern>/addServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listServlet</servlet-name>
        <url-pattern>/listServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListServlet</servlet-name>
        <url-pattern>/ListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListController</servlet-name>
        <url-pattern>/ListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateServlet</servlet-name>
        <url-pattern>/updateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteServlet</servlet-name>
        <url-pattern>/deleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCustomer</servlet-name>
        <url-pattern>/addCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCustomerServlet</servlet-name>
        <url-pattern>/ListCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDAO</servlet-name>
        <url-pattern>/AdminDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDemo</servlet-name>
        <url-pattern>/LoginDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCustomer</servlet-name>
        <url-pattern>/LoginCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductServlet</servlet-name>
        <url-pattern>/ListProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogle</servlet-name>
        <url-pattern>/LoginGoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmail</servlet-name>
        <url-pattern>/VerifyEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupEmail</servlet-name>
        <url-pattern>/SignupEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtp</servlet-name>
        <url-pattern>/ValidateOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPassword</servlet-name>
        <url-pattern>/NewPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtpNewAccount</servlet-name>
        <url-pattern>/ValidateOtpNewAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCustomer</servlet-name>
        <url-pattern>/NewCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddtoCartServlet</servlet-name>
        <url-pattern>/AddtoCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItem</servlet-name>
        <url-pattern>/RemoveItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/DetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyServlet</servlet-name>
        <url-pattern>/BuyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewStore</servlet-name>
        <url-pattern>/addNewStore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStore</servlet-name>
        <url-pattern>/deleteStore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStoreInformation</servlet-name>
        <url-pattern>/UpdateStoreInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStoreServlet</servlet-name>
        <url-pattern>/ListStoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Map</servlet-name>
        <url-pattern>/Map</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculateDist</servlet-name>
        <url-pattern>/CalculateDist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPayServlet</servlet-name>
        <url-pattern>/VNPayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/ajaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayRefund</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxServlet</servlet-name>
        <url-pattern>/AjaxServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>guest.jsp</welcome-file>
    </welcome-file-list>
</web-app>
